:root {
  font-size: 1.08rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

header, footer {
  margin: auto;
  text-align: center;
}

body {
  transition: 1s;
}

.content {
  margin: auto;
  width: 600px;
  max-width: 90vw;
}

p {
  line-height: 1.65rem;
}

.projet {
  margin-top: 40px;
}

#title:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
      transition: 1s;
  }
}